<div class ="spells-tab-content">
    <button mat-fab color="primary" (click)="openDialog()">
        <mat-icon>library_add</mat-icon>
    </button>
    <div class="spell-container">
        <div *ngFor="let spell of spells" >
            <mat-card class="spell-card">
                <mat-card-header>
                    <mat-card-title>{{spell.spellName}}</mat-card-title>
                    <mat-card-subtitle>Conjuration Cantrip</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content id="short-attr">
                    <div id="component">Components: {{spell.components}}</div>
                    <div id="duration">Duration:{{spell.duration}} </div>
                    <div id="range">Range: {{spell.range}}</div>
                    <div id="casttime">Casting Time: {{spell.castingTime}}</div>
                </mat-card-content>

                <mat-card-content>Materials: {{spell.materials}}</mat-card-content>
                <mat-card-content>
                    {{spell.spellDesc}}
                </mat-card-content>
                <mat-card-content>
                    {{spell.higherLevelDescOne}}
                </mat-card-content>
                <mat-card-content>
                    {{spell.higherLevelDescTwo}}
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
