<div class ="spells-tab-content">
    <button mat-fab class="new-spell-button" color="primary" (click)="openCreateSpellDialog()">
        <mat-icon>library_add</mat-icon>
    </button>
    <mat-grid-list class="mat-grid-list" cols="3" rowHeight="440px" gutterSize="10px">
        <mat-grid-tile class="mat-card-container" *ngFor="let spell of spells" >
            <mat-card class="mat-card" (click)="openViewSpellDialog(spell)">
                <div class="spell-content">
                    <mat-card-header class="mat-card-header">
                        <mat-card-title id="title">{{spell.spellName}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="mat-card-content">
                        <div id="component">Components: {{spell.components}}</div>
                        <div id="duration">Duration:{{spell.duration}}</div>
                        <div id="range">Range: {{spell.range}}</div>
                        <div id="casttime">Casting Time: {{spell.castingTime}}</div>
                        <div id="materials">Materials: {{spell.materials}}</div>
                        <div id="spellDesc">{{spell.spellDesc}}</div>
                        <div id="higherLevelDescOne">{{spell.higherLevelDescOne}}</div>
                        <div id="higherLevelDescTwo">{{spell.higherLevelDescTwo}}</div>
                    </mat-card-content>
                    <!--
                    <mat-card-actions class="mat-card-buttons">
                                <button mat-fab class="edit-button" color="primary" (click)="openEditSpellDialog(spell)">
                                <mat-icon>edit_mode</mat-icon>
                                </button>
                    </mat-card-actions>
                    -->
                </div>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>