<mat-toolbar color="primary">
    <span class="name">DnD Cards</span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu"> 
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>Login</button>
        <button mat-menu-item>Settings</button>
    </mat-menu>
</mat-toolbar>

<mat-tab-group>
    <mat-tab label="Spells">
        <app-spells></app-spells>
    </mat-tab>
  <mat-tab label="Items">Content 2</mat-tab>
</mat-tab-group>
