<mat-toolbar color="primary" class="toolbar z-depth-5">
    <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>apps</mat-icon>
    </button>
    <span class="name">DnD Cards</span>
    <span class="spacer1"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <a mat-menu-item *ngIf="userDetails" (click)="logout()">
            Log out
        </a>
        <button mat-menu-item *ngIf="!userDetails">
            Log in
        </button>
    </mat-menu>
</mat-toolbar>


