.mat-sidenav {
    background-color: #384255;
}
.mat-nav-list {
    padding-top: 15px;
}

.sidenav-btn {
    color:white ;
    padding-left: 50px;
    padding-right: 50px;
  }

 .sidenav-icon {
    color:white !important;
 }

 .content{
   // background-color:rgb(251, 240, 255);
   background: #EDE7F6;
  }