<mat-drawer-container class="container">
    <mat-drawer class="side-nav-buttons" mode="side" opened="true">
        <button mat-button color="primary" [ngClass]="{active: currentRoute === 'home'}">
            <a (click) ="goToRoute('home')">
                Home
                <mat-icon>home</mat-icon>
            </a>
        </button>
        <button mat-button color="primary" [ngClass]="{active: currentRoute === 'cards'}">
            <a (click) ="goToRoute('cards')">
                Cards
                <mat-icon>filter_none</mat-icon>
            </a>
        </button>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
